---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: ivyo
spec:
  replicas: 1
  strategy: { type: Recreate }
  template:
    spec:
      containers:
      - name: operator
        image: ivory-operator
        env:
        - name: IVYO_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: IVORY_DEBUG
          value: "true"
        - name: RELATED_IMAGE_IVORY_18
          value: "docker.io/ivorysql/ivorysql:ubi9-5.1-5.1-1"
        - name: RELATED_IMAGE_PGADMIN
          value: "docker.io/ivorysql/pgadmin:ubi9-9.9-5.1-1"
        - name: RELATED_IMAGE_PGBACKREST
          value: "docker.io/ivorysql/pgbackrest:ubi9-2.56.0-5.1-1"
        - name: RELATED_IMAGE_PGBOUNCER
          value: "docker.io/ivorysql/pgbouncer:ubi9-1.24.0-5.1-1"
        - name: RELATED_IMAGE_PGEXPORTER
          value: "docker.io/ivorysql/postgres-exporter:ubi9-0.17.0-5.1-1"
        - name: RELATED_IMAGE_PGUPGRADE
          value: "registry.developers.crunchydata.com/crunchydata/crunchy-upgrade:ubi9-5.3.1-0"  
        - name: RELATED_IMAGE_POSTGRES_18_GIS_3.5
          value: "docker.io/ivorysql/ivorysql-postgis:ubi9-3.5-5.1-1"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities: { drop: [ALL] }
          readOnlyRootFilesystem: true
          runAsNonRoot: true
      serviceAccountName: ivyo
